@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html{
    height:100%;
}
body{

    font-family: 'DM Sans', sans-serif;
    background-color: cornsilk;
    background-image: url('https://source.unsplash.com/random/?wonderlust');
    height:100%;
    text-align: center;
    color:aliceblue;
    background-size: cover;
    text-shadow: #000000 0px 0px 2px;
}

.main-container{
    backdrop-filter: blur(8px);
    height:inherit;
    margin:-10px;
    padding:20px;
   
}

input{

    border-style:hidden;
    border-radius:5px;
    padding:5px;
    height:30px;
    width:300px;

}
textarea{
    border-style:hidden;
    border-radius:5px;
    padding:5px;

}
select{

    width:200px;
    height:30px;
    border-style:hidden;
    border-radius:5px;
    padding:5px;
}

.submit-btn{

    width:300px;
    height:40px;
    background-color: deeppink;
    color:aliceblue;
    border-radius: 5px;
    border-style:hidden;
    font-size: larger;
}
.submit-btn:hover{

    background-color: aliceblue;
    color:deeppink;
}
.submit-btn:active{
    width:306px;
    height:42px;

}

.signup{
    text-decoration: none;
    color:aliceblue;
}

.logout{

    text-decoration: none;
    color:aliceblue;
}

.add-activity-container{
    margin-top: 20px;
}
.activities-container{

    margin-bottom: 20px;
}

.activity-tile{

    text-align: left;
    padding: 10px;
    background-color:rgba(250, 240, 250, 0.8);
    height:fit-content;
    margin-left:20%;
    margin-right:20%;
    margin-top:3px;
    border-radius:2px;
    
}
 
.tile-item{

    margin-bottom:-4px;
    margin-top: -4px;
    text-shadow: none;
    color: #3b3a3b
}

.activity-date{

    font-size: x-small;
    margin-top: 2px;
    color:#555255;
}

.add-activity-container{

   
}