<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="./static/styles.css">
    
</head>
<body>
    <div class="main-container">
        <p ><a class="logout" href="/logout">Logout</a></p>   
    
    <h2>ACTIVITY TRACKER HOME</h1>
   
    <p>Welcome {{ session.name }}! {{ session.userid }}</p>
    <p></p>
    
    <button id="add-activity-btn" onclick="addActivity()">Add activity</button>
    <div id="add-activity-container">
        <form id="post-activity-form" action="post_activity" method="POST" >
            ​<input type="text" placeholder="Activity Name" name="activity-name" />
            <p></p>
            ​<input type="text" placeholder="Activity Type" name="activity-type" />
            <p></p>
            ​<textarea placeholder="Enter a description" name="activity-desc" rows="10" cols="40"></textarea>
            <p></p>
            ​<input type="text" placeholder=" Quantity (hours, reps, etc.)" name="activity-qty" />
            <p></p>
            <button class="submit-btn" type="submit" onclick="showBtn()">Save</button>
            
        </form>
        
    </div>

     <div class="activities-container">
        <h3>My activities</h3>
        

            {% for item in session.activities %}
            <div class="activity-tile">
                 <!--New edit link for each tile-->
                 <a class="edit-link" href="{{ '/edit-activity/%s' %item.rowid }}">
                    <h3 class="tile-item activity-name"> {{ item.rowid}} - {{ item.activity_name }}  </h3>   
                    <p class=" tile-item  activity-desc"> {{ item.description }}</p>
                    <p class=" tile-item activity-date"> {{ item.date }}</p>
                </a>
            </div>
            {% endfor %}


            
     </div>
     
</div>
<script>

let addActivityBtn = document.querySelector('#add-activity-btn')

let activityContainer = document.querySelector("#add-activity-container")
        

    function addActivity(){

        activityContainer.style.display = 'block'
        addActivityBtn.style.display = 'none';
    }

    function showBtn(){

        addActivityBtn.style.display = 'block';
    }


</script>
   
</body>
</html>