<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="./static/styles.css">
    
</head>
<body>
    <div class="main-container">
        <p class="logout"><a href="/logout">Logout</a></p>   
    
    <h2>ACTIVITY TRACKER HOME</h1>

   
    <p>Welcome {{ session.name }}!</p>
    <p></p>
    

    
    <p></p>

</div>
   
</body>
</html>